<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Post</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
          <a class="navbar-brand para" href="#">Post<span>it.</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
      <a class= "nav-link active" aria-current="page" href="../stories/index.html">Stories</a>
              <a class="nav-link" href="#">Contact</a>
              <a class="nav-link" href="../Sign In/sign_in.html">Log Out</a>
            </div>
          </div>
        </div>
      </nav><br>

        <div class="container color">
            <small class="tech">Technology</small>
            <h2>The 20 Biggest Fintech In Nigeria 2022</h2>
            <img class="img" src="../Images/Ellipse 1.png" alt="Ellipse"> <small class="stlying"><span>By</span> Maria
                Davies <span>- May 21, 2022</span></small><br><br>
                <hr>

            <br>
            <img class="img-fluid" src="./images/Rectangle 9.jpg" alt="fintech-image"><br><br>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada neque, vitae arcu elit amet arcu.Non
                quam dignissim blandit lectus tempus sit molestie fermentum. Mattis morbi fames nullam enim. Vitae
                commodo
                tellus cras eu, amet id scelerisque quis. Massa donec accumsan, maecenas ullamcorper sagittis, ut felis,
                faucibus. Varius nibh tristique a mattis mattis amet in placerat. Donec ultricies pharetra turpis proin.
                Vulputate volutpat neque diam at metus scelerisque.
            </p>

            <p>
                Imperdiet congue ultrices proin nisi. Id sagittis aenean egestas metus, aliquet dolor vitae consectetur
                diam. Porta aliquet cras nisl sed sed ut consequat tempus ultricies. Tellus tortor sapien, et sagittis.
                Convallis nunc sem purus egestas. Semper venenatis suspendisse in et, velit ultrices facilisis enim mi.
                Tortor quis sapien pulvinar vitae et neque curabitur velit in.
            </p>

            <p>
                Dictum nulla vitae vitae gravida consectetur libero arcu, id cras. Erat sed viverra auctor eget
                pellentesque velit. Neque nunc sit ut eu at id morbi turpis. Interdum in viverra sodales est adipiscing
                metus nunc. Condimentum massa tincidunt consequat mattis dui in fermentum faucibus. Faucibus non amet
                ornare tellus convallis urna malesuada sed. Tellus scelerisque eu, eu posuere mattis. Ac in non dui
                viverra mi cras nibh. Amet euismod ut nunc amet, ullamcorper eu cursus eget est. Ipsum praesent integer
                vestibulum lorem elit lectus. Arcu viverra dignissim adipiscing velit id arcu nunc, sit mollis
                Condimentum viverra vitae, in arcu. Bibendum purus tincidunt aenean neque, iaculis quam. Sollicitudin
                enim, aenean commodo arcu ligula consectetur porttitor faucibus sed.
            </p>

        </div>



        <div class="container">
            <div class="div">
                <img class="img-fluid img" src="./images/Rectangle 137.jpg" alt="fintech-image"><br>
            </div>

            <div class="para">
                <h2>Fintech companies in Nigeria</h2>
                <p>
                    Ac sem pulvinar feugiat elit lobortis. At conllis gravida massa, ultricies eu. Erat ornare
                    sed elit sed porta egestas duis. Odio phetra, arcu eros, et metus adipiscing enim, odio. Euimod
                    cursus elementum pharetra sed cursus cotur etiam id. Fringilla phasellus vivamus in vehila aliquam
                    molestie blandit. Duis nibh blandit pharetra nisi leo, arcu nunc suspendisse. Vol vel ac aliquam
                    aliquam mauris.
                </p>

                <p>
                    Blandit in amet nisl ultrices vitae sit volutpat. Et urna, ullamcorper sapien, ut at nibh
                    suscipit tincidunt ac. Et malesuada justo id massa. Eu, morbi convallis egestas egestas vel at
                    ipsum. Ultrices viverra augue praesent massa, cursus arcu, sit in suscipit. Nunc blandit eget
                    lobortis non vestibulum egestas lacinia ut.
                </p>

                <p>
                    Aliquet lorem tristique eros, neque, eros, amet urna integer ornare. Et faucibus tristique quis
                    viverra. Bibendum sit nibh cursus eu. Adipiscing elit ultrices faucibus neque nullam. Pharetra, enim
                    ornare scelerisque id fermentum proin egestas tristique. Amet, tempor aliquet ac eu. Amet, tellus,
                    integer enim leo risus nisl. Aliquet amet, est mi tristique tempus nisl tellus morbi massa. Pharetra
                    libero viverra nullam eget eu, vel nam at aliquam. Dui bibendum accumsan orci sit.
                </p>
            </div>

        </div><br>

        <div class="container span">
            <span style="color:black;">Share post;</span>
            <a href="https://twitter.com"><img class="logo" src="./images/Vector-2.png" alt="twitter-image"></a>
            <a href="https://facebook.com"><img class="logo" src="./images/Vector-1.png" alt="facebook-image" style="background-color: #395185;"></a>
            <a href="https:whatsapp.com"><img class="logo" src="./images/Vector.png" alt="whatsapp-image" style="background-color:#00e676;"></a>   
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div class="container mt-5 bg-dark">
            <div class="row">
                <div class="col-lg-5">
                    <h6>About Post<span>it</span>.</h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Tincidunt id sem vel quis in turpis sit eget pellentesque. Nunc
                        etiicies in rhoncus, rhoncus in arcu. Tincidunt neque fusce
                        vitaenisi aliquet. que maeae tortoere necsem commodo ac.
                    </p>
                </div>
                <div class="col-lg-2">
                    <h6>Quick Menu</h6>
                    <ul id="nav_link">
                        <li><a href="../home/index.html">Home</a></li>
                        <li><a href="../stories/index.html">Stories</a></li>
                        <li><a href="../my_stories/index.html">Trending Stories</a></li>
                        <li><a href="../view/view_post.html">Popular Stories</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <ul id="nav_link2">
                        <li><a href="../Get Started/get_started.html">Sign Up</a></li>
                        <li><a href="../Sign In/sign_in.html">Log in</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h6>Subscribe to our newsletter</h6>
                    <input type="email" name="email" id="email" placeholder="Email address" />
                    <p class="sub"><button>Subscribe</button><a href=""><img class="image"
                                src="../Images/Vector (2).png" alt="" /></a></p>
                </div>
            </div>
            <hr />
            <div class="terms">
                <small id="small">Terms and Policy</small>
                <div class="social">
                    <a href="https://twitter.com"><img src="../Images/twitter-1.png" alt="" /></a>
                    <a href="https://facebook.com"><img src="../Images/facebook-1.png" alt="" /></a>
                    <a href="https://instagram.com"><img src="../Images/insta-1.png" alt="" /></a>  
                </div>
            </div>
        </div>
    </footer><br><br>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>

</html>